{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Welcome To Taskmate</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
                <div class="col">
                  <img src="{% static 'images/1.jpg' %}" alt="Notes" width="360" height="250">
                </div>
                <div class="col">
                  <img src="{% static 'images/2.jpg' %}" alt="Notes" width="360" height="250">
                </div>
                <div class="col">
                  <img src="{% static 'images/3.jpg' %}" alt="Notes" width="360" height="250">
                </div>
        </div>
    </div>
{% endblock content %}